@use "../../../styles/base/colors" as *;

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  transition: background-color 0.3s;

  &-primary {
    background-color: $mainColor;
    color: white;
    border: 2px solid transparent;
  }
  &-primary:hover {
    background-color: #850081;
  }
  &-secondary {
    background-color: transparent;
    border: 2px solid $mainColor;
  }
  &-secondary:hover {
    background-color: #5b5b5b;
  }
}
