<header class="wrapper header">
  <img
    src="../../../../assets/images/Header/header-image.png"
    class="header-img"
    alt="header img"
  />
  <div class="header-content">
    <h1 class="header-content-heading">
      Wejdź na wyższy <br />
      <div class="header-content-highlighted highlighted">Level!</div>
    </h1>
    <p class="header-content-text text-gray">
      Sprawdź nasze promocje oraz bestsellery! Posiadamy największy sklep
      internetowy w polsce, nie zwlekaj zobacz nasze oferty nie zwlekaj zobacz
      nasze oferty
    </p>
    <div class="header-content-btns">
      <app-button variant="primary" [routerLink]="['/shop']">
        <p style="font-size: 1.5rem">Sklep</p>
      </app-button>
      <app-button variant="secondary">
        <a style="font-size: 1.5rem" href="#bestsellers">Bestsellery</a>
      </app-button>
    </div>
  </div>
  <app-hotshot></app-hotshot>
</header>
