<section class="shop wrapper">
  <div class="shop-ctn">
    <h2 class="shop-heading">Słuchawki</h2>
    <ul class="shop-list">
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
    </ul>
  </div>
  <div class="shop-ctn">
    <h2 class="shop-heading">Myszki</h2>
    <ul class="shop-list">
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
    </ul>
  </div>
  <div class="shop-ctn">
    <h2 class="shop-heading">Klawiatury</h2>
    <ul class="shop-list">
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
    </ul>
  </div>
  <div class="shop-ctn">
    <h2 class="shop-heading">Komputery</h2>
    <ul class="shop-list">
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
      <app-shop-item></app-shop-item>
    </ul>
  </div>
</section>
