<section class="shop wrapper">
  <div>
    <select [(ngModel)]="categoryFilter">
      <option value="all">All</option>
      <option value="keyboard">Klawiatury</option>
      <option value="pc">Komputery</option>
      <option value="mouse">Myszki</option>
      <option value="headphones">Słuchawki</option>
    </select>
    <select [(ngModel)]="sortFilter" (change)="onSelect()">
      <option value="expensive">Od najwyższych</option>
      <option value="cheap">Od najniższych</option>
      <option value="a-z">Alfabetycznie(A-Z)</option>
      <option value="z-a">Alfabetycznie(Z-A)</option>
    </select>
  </div>
  <div
    class="shop-ctn"
    *ngIf="categoryFilter === 'headphones' || categoryFilter === 'all'"
  >
    <h2 class="shop-heading">Słuchawki</h2>
    <ul class="shop-list">
      <ng-container *ngFor="let shopItem of shopItems">
        <app-shop-item
          [shopItem]="shopItem"
          *ngIf="shopItem.category === 'headphones'"
        ></app-shop-item
      ></ng-container>
    </ul>
  </div>
  <div
    class="shop-ctn"
    *ngIf="categoryFilter === 'mouse' || categoryFilter === 'all'"
  >
    <h2 class="shop-heading">Myszki</h2>
    <ul class="shop-list">
      <ng-container *ngFor="let shopItem of shopItems">
        <app-shop-item
          [shopItem]="shopItem"
          *ngIf="shopItem.category === 'mouse'"
        ></app-shop-item
      ></ng-container>
    </ul>
  </div>
  <div
    class="shop-ctn"
    *ngIf="categoryFilter === 'pc' || categoryFilter === 'all'"
  >
    <h2 class="shop-heading">Komputery</h2>
    <ul class="shop-list">
      <ng-container *ngFor="let shopItem of shopItems">
        <app-shop-item
          [shopItem]="shopItem"
          *ngIf="shopItem.category === 'pc'"
        ></app-shop-item
      ></ng-container>
    </ul>
  </div>
  <div
    class="shop-ctn"
    *ngIf="categoryFilter === 'keyboard' || categoryFilter === 'all'"
  >
    <h2 class="shop-heading">Klawiatury</h2>
    <ul class="shop-list">
      <ng-container *ngFor="let shopItem of shopItems">
        <app-shop-item
          [shopItem]="shopItem"
          *ngIf="shopItem.category === 'keyboard'"
        ></app-shop-item
      ></ng-container>
    </ul>
  </div>
</section>
