<section class="item-detail wrapper">
  <div class="item-detail-img" (mousemove)="zoomImg($event)">
    <img src="{{ shopItem.image }}" #itemImg alt="{{ shopItem.name }}" />
  </div>
  <div class="item-detail-content">
    <h1>{{ shopItem.name }}</h1>
    <small>kod producenta: {{ shopItem.producentId }}</small>
    <p class="highlighted">{{ shopItem.price + "zł" }}</p>
    <article>
      {{ shopItem.description }}
    </article>
    <div class="item-detail-content-features">
      <ul class="item-detail-content-features-list">
        <li>
          <i *ngIf="shopItem.isAvailable" class="bx bx-check"></i>
          <i *ngIf="!shopItem.isAvailable" class="bx bx-x"></i>
          {{
            shopItem.isAvailable ? " Produkt dostępny" : "Produkt niedostępny"
          }}
        </li>
        <li *ngIf="shopItem.price > 200">
          <i class="bx bx-check"></i> Darmowa Dostawa
        </li>
        <li *ngIf="shopItem.isGuarantee">
          <i class="bx bx-check"></i> Gwarancja
        </li>
      </ul>
      <app-button>Do koszyka</app-button>
    </div>
  </div>
</section>
<section class="item-offer wrapper">
  <div class="item-offer-breaker"></div>
  <ul class="shop-list">
    <ng-container *ngFor="let shopItem of randomItems">
      <app-shop-item [shopItem]="shopItem" [path]="'/shop/'"></app-shop-item
    ></ng-container>
  </ul>
</section>
