@use "../../../../styles/base/colors" as *;
.item-detail {
  padding: 8rem 2rem 4rem 2rem;
  display: flex;
  gap: 4rem;

  &-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #525252;
    border-radius: 15px;
    height: 35rem;
    padding: 1.5rem;
    cursor: zoom-in;
    overflow: hidden;
    img {
      height: 90%;
    }
  }
  &-img:hover {
    img {
      transform: scale(1.7);
    }
  }

  &-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }
    small {
      font-weight: 600;
      font-size: 1.2rem;
      color: #b1b1b1;
    }
    p {
      font-size: 3.5rem;
    }

    article {
      font-size: 1.3rem;
      color: #c7c7c7;
    }
    &-features {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &-list {
        display: flex;
        flex-direction: column;

        li {
          font-size: 1rem;
          display: flex;
          align-items: center;
          i {
            font-size: 2rem;
            color: $mainColor;
          }
        }
      }
    }
  }
}
.item-offer {
  padding: 4rem 2rem;

  &-breaker {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    height: 1.5rem;
    background-color: #4f4f4f;
  }
  &-breaker::before {
    content: "Zobacz również";
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #313131;
    padding: 1rem 3rem;
    border-radius: 15px;
  }
}
.shop-list {
  margin-top: 8rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
