<section class="team" id="team">
  <div class="wrapper section-padding">
    <div class="team-box">
      <article class="team-content">
        <app-heading subtitle="Kim jesteśmy?" title="Nasz zespół"></app-heading>
        <h3>Vander<span class="highlighted">Amazing</span>Team</h3>
        <p>
          Jestesmy Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Veritatis nobis adipisci necessitatibus perferendis, at impedit vel,
          explicabo, maxime deserunt quo ad dolorem perspiciatis ducimus nulla!
          Ut esse consequuntur asperiores maxime? vel, explicabo, maxime
          deserunt quo ad dolorem perspiciatis ducimus nulla! Ut esse
          consequuntur asperiores maxime?
        </p>
        <div>
          <app-button variant="primary">Zobacz się z nami</app-button>
        </div>
      </article>
      <img src="../../../../assets//images/Team/team.png" alt="team photo" />
    </div>
  </div>
</section>
