<ul class="post-list">
  <ng-container *ngFor="let post of posts">
    <li class="post">
      <div class="post-img" [routerLink]="[post.id]">
        <img
          src="{{ post.image }}"
          class="post-img-item"
          alt="{{ post.title }}"
        />
      </div>
      <div class="post-box">
        <div class="post-heading">
          <h3>{{ post.title }}</h3>
          <small>{{ post.relaseDate | dateTransform }}</small>
        </div>
        <p class="text-gray">{{ post.description | shorten : 240 }}</p>
        <a class="highlighted" [routerLink]="[post.id]"> Read More... </a>
      </div>
    </li>
  </ng-container>
</ul>
