<section class="wrapper section-padding stats">
  <img
    src="../../../../assets/images/Products/amico.png"
    alt="random image ilustrate our stats"
    class="stats-img"
  />
  <div class="stats-content">
    <h2>Dlaczego nasze produkty są najlepsze na rynku?</h2>
    <p>Każda nawet pojedyncza rzecz ma swój wpływ na finalny produkt, np:</p>
    <ul>
      <li>Najnowszego oprogwamowania</li>
      <li>Aktualizacji</li>
      <li>Wsparcia</li>
      <li>Kompetentego teamu</li>
      <li>Wspołpac z innymi firmami</li>
    </ul>
  </div>
</section>
