<nav class="nav">
  <div class="wrapper">
    <div class="nav-ctn">
      <a class="nav-logo" [routerLink]="['/']"
        >Vander<span class="highlighted">Amazing</span>
      </a>
      <button class="burger" (click)="handleNav()">
        <div class="burger-bar"></div>
        <div class="burger-bar"></div>
        <div class="burger-bar"></div>
      </button>
      <ul [ngClass]="['nav-list', isNavOpen ? 'nav-active' : '']">
        <li class="nav-dropdown" appDropdown>
          <a
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
          <ul class="nav-dropdown-item">
            <li><a href="#blog">Blog</a></li>
            <li><a href="#bestsellers">Bestsellery</a></li>
            <li><a href="#team">Zespół</a></li>
            <li><a href="#contact">Kontakt</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/blog']" routerLinkActive="active">Blog</a>
        </li>
        <li>
          <a [routerLink]="['/shop']" routerLinkActive="active">Sklep</a>
        </li>
        <li>
          <app-button [variant]="'primary'"> Logowanie </app-button>
        </li>
        <li>
          <app-button [variant]="'secondary'" (click)="handleCard()"
            ><i class="bx bxs-shopping-bag"></i>
            {{ cardPrice > 0 ? cardPrice + "zł" : "Pusty Koszyk" }}</app-button
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-card></app-card>
