@use './colors' as *;

.wrapper {
	max-width: 1400px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.highlighted {
	color: $mainColor
}

.text-gray {
	font-size: 1.3rem;
	color: $grayText
}

.section-padding {
	padding: 4rem 2rem;
}


@media (min-width: 768px) {
	.section-padding {
		padding: 6rem 4rem;
	}
}
