<form class="form">
    <div class="form-items">
        <div class="form-item">
            <label htmlFor='name'>Imię</label>
            <input id='name' type='text' placeholder='Wpisz imię' />
        </div>
        <div class="form-item">
            <label htmlFor='surname'>Nazwisko</label>
            <input id='surname' type='text' placeholder='Wpisz nazwisko' />
        </div>
    </div>
    <div class="form-items">
        <div class="form-item">
            <label htmlFor='email'>Email</label>
            <input id='email' type='email' placeholder='Wpisz email' />
        </div>
        <div class="form-item">
            <label htmlFor='phone'>Telefon</label>
            <input id='phone' type='tel' placeholder='Wpisz telefon' />
        </div>
    </div>
    <label htmlFor='message'>Wiadomość</label>
    <textarea id='message' placeholder='Wpisz wiadomość'></textarea>
    <div>
       <app-button variant="primary">Wyślij</app-button>
    </div>
</form>